.home {
    background: #535353;
    -webkit-box-shadow: -7px 4px 12px 4px rgba(0, 0, 0, 0.25);
    box-shadow: -7px 4px 12px 4px rgba(0, 0, 0, 0.25);
}

.home .title {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    color: rgb(255, 255, 255);
}

.home .subtitle {
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
}