mat-form-field{
    display: block;
    width: 30%;
}

mat-card button{
    display: block;
    width: 30%;
}

mat-card .btn-cancelar{
    margin-top: 1em;
    background-color: #EB4F4F;
    color: #fff;
}